/* General */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }
  .inactive {
    display: none;
  }

/* NavBar (General) */
nav{
  display:flex;
  justify-content:space-between;
  padding:0 24px;border-bottom:1px solid var(--very-light-pink)
}
.menu{
  display:none
}
.logo{
  width:100px
}
.navbar-left ul,.navbar-right ul{
  list-style:none;
  padding:0;margin:0;
  display:flex;
  align-items:center;
  height:60px
}
.navbar-left{
  display:flex
}.navbar-left ul{
  margin-left:12px
}
.navbar-left ul li a,.navbar-right ul li a{
  text-decoration:none;
  color:var(--very-light-pink);
  border:1px solid var(--white);
  padding:8px;border-radius:8px
}
.navbar-left ul li a:hover,.navbar-right ul li a:hover{
  border:1px solid var(--hospital-green);
  color:var(--hospital-green)
}
.navbar-email{
  color:var(--very-light-pink);
  cursor:pointer;font-size:var(--sm);
  margin-right:12px
}
.navbar-shopping-cart{
  position:relative
}
.navbar-shopping-cart div{
  width:16px;
  height:16px;
  background-color:var(--hospital-green);
  border-radius:50%;
  font-size:var(--sm);
  font-weight:700;
  position:absolute;
  top:-6px;
  right:-3px;
  display:flex;
  justify-content:center;
  align-items:center
}
/* Menu en DeskTop */
.desktop-menu{
  position:absolute;
  top:60px;
  right:60px;
  background:var(--white);
  width:100px;
  height:auto;
  border:1px solid var(--very-light-pink);
  border-radius:6px;
  padding:20px 20px 0
}
.desktop-menu ul{
  list-style:none;
  padding:0;
  margin:0
}
.desktop-menu ul li{
  text-align:end
}
.desktop-menu ul li:nth-child(1),.desktop-menu ul li:nth-child(2){
  font-weight:700
}
.desktop-menu ul li:last-child{
  padding-top:20px;
  border-top:1px solid var(--very-light-pink)
}
.desktop-menu ul li:last-child a{
  color:var(--hospital-green);
  font-size:var(--sm)
}
.desktop-menu ul li a{
  color:var(--back);
  text-decoration:none;
  margin-bottom:20px;
  display:inline-block
}
  /* Menu en Mobile */

  .mobile-menu{
    background-color:var(--white);
    position:absolute;
    top:60px;
    left:0;
    width:100%;
    padding:24px
  }
  .mobile-menu a{
    text-decoration:none;
    color:var(--black);
    font-weight:700
  }
  .mobile-menu ul{
    padding:0;
    margin:24px 0 0;
    list-style:none
  }
  .mobile-menu ul:nth-child(1){
    border-bottom:1px solid var(--very-light-pink)
  }
  .mobile-menu ul li{
    margin-bottom:24px
  }
  .email{
    font-size:var(--sm);
    font-weight:300!important
  }
  .sign-out{
    font-size:var(--sm);
    color:var(--hospital-green)!important
  }

  /* Aside (Detalle Producto y carrito)  */
  aside {
    background-color: var(--white);
    width: 360px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
  }

  /* shopping Cart */
  #shoppingCartContainer{
    padding:0 24px
  }
  .title-container{
    display:flex
  }
  .title-container img{
    transform:rotate(180deg);
    margin-right:14px
  }
  .title{
    font-size:var(--lg);
    font-weight:700
  }
  .order{
    display:grid;
    grid-template-columns:auto 1fr;
    gap:16px;
    align-items:center;
    background-color:var(--text-input-field);
    margin-bottom:24px;
    border-radius:8px;
    padding:0 24px
  }
  .order p:nth-child(1){
    display:flex;
    flex-direction:column
  }
  .order p span:nth-child(1){
    font-size:var(--md);
    font-weight:700
  }
  .order p:nth-child(2){
    text-align:end;
    font-weight:700
  }
  .shopping-cart{
    display:grid;
    grid-template-columns:auto 1fr auto auto;
    gap:16px;margin-bottom:24px;
    align-items:center
  }
  .shopping-cart figure{
    margin:0
  }
  .shopping-cart figure img{
    width:70px;
    height:70px;
    border-radius:20px;
    object-fit:cover
  }
  .shopping-cart p:nth-child(2){
    color:var(--very-light-pink)
  }
  .shopping-cart p:nth-child(3){
    font-size:var(--md);
    font-weight:700
  }
  .primary-button{
    background-color:var(--hospital-green)
    ;border-radius:8px;
    border:none;
    color:var(--white);
    width:100%;
    cursor:pointer;
    font-size:var(--md);
    font-weight:700;
    height:50px
  }

  /* Product Detail */
  .product-detail-close{
    background:var(--white);
    width:14px;height:14px;
    position:absolute;
    top:24px;
    left:24px;
    z-index:2;
    padding:12px;
    border-radius:50%
  }
  .product-detail-close:hover{
    cursor:pointer
  }
  #productDetail>img:nth-child(2){
    width:100%;
    height:360px;
    object-fit:cover;
    border-radius:0 0 20px 20px
  }
  #productDetail .product-info{
    margin:24px 24px 0
  }
  #productDetail .product-info p:nth-child(1){
    font-weight:700;
    font-size:var(--md);
    margin-top:0;
    margin-bottom:4px
  }
  #productDetail .product-info p:nth-child(2){
    color:var(--very-light-pink);
    font-size:var(--md);
    margin-top:0;
    margin-bottom:36px
  }
  #productDetail .product-info p:nth-child(3){
    color:var(--very-light-pink);
    font-size:var(--sm);
    margin-top:0;
    margin-bottom:36px
  }
  .primary-button{
    background-color:var(--hospital-green);
    border-radius:8px;
    border:none;
    color:var(--white);
    width:100%;
    cursor:pointer;
    font-size:var(--md);
    font-weight:700;
    height:50px
  }
  .add-to-cart-button{
    display:flex;
    align-items:center;
    justify-content:center
  }

  /*Lista de Productos*/
  .cards-container{
    display:grid;
    grid-template-columns:repeat(auto-fill,240px);
    gap:26px;
    place-content:center;
    margin-top:20px
  }
  .product-card{
    width:240px
  }
  .product-card img{
    width:240px;
    height:240px;
    border-radius:20px;
    object-fit:cover
  }
  .product-card .product-info{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:12px
  }
  .product-card .product-info figure{
    margin:0
  }
  .product-card .product-info figure img{
    width:35px;
    height:35px
  }
  .product-card .product-info div p:nth-child(1){
    font-weight:700;
    font-size:var(--md);
    margin-top:0;
    margin-bottom:4px
  }
  .product-card .product-info div p:nth-child(2){
    font-size:var(--sm);
    margin-top:0;
    margin-bottom:0;
    color:var(--very-light-pink)
  }

  @media(max-width:640px){
    .menu{
      display:block
    }
    .navbar-left ul{
      display:none
    }
    .navbar-email{
      display:none
    }
    .desktop-menu{
      display:none
    }
    aside{
      width:100%
    }
    .cards-container{
      grid-template-columns:repeat(auto-fill,140px)
    }
    .product-card{
      width:140px
    }
    .product-card img{
      width:140px;
      height:140px
    }
  }
  @media(min-width:641px){
    .mobile-menu{
      display:none
    }
  }